{% extends 'base.html' %}
{% block title %} Sectors {% endblock %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% load i18n %}

{% block right %}
<a href="{%url 'sector_new'%}" class="btn btn-dark">New</a>
{% endblock %}



{% block left %}
<table class="table table-striped">
    <h3>List Sector</h3>
    <div class="row">
        <form class="form-inline">
            <div class="form-group mb-3">
                <input type="text" placeholder="..." , name="search" class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-dark">Search</button>
            </div>

        </form>
    </div>
  <thead>
    <tr>
      <th scope="col">{% trans "Name" %}</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for tb_value in tb_values %}
        <tr>
          <td><a href="{%url 'sector_update' tb_value.id %}">{{ tb_value.name }}</a></td>
          <td>{{ tb_value.description }}</td>
          <td>
            <a href="{%url 'sector_delete' tb_value.id %}" class="trash-item">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
